.badge {
  display: inline-block;
  vertical-align: bottom;
  line-height: 28em/@fs;
  padding: 0 4em/@fs;
  margin: 2em/@fs 2em/@fs 0 0;
  text-align: center;
  .transition-standard();
  .border-radius();

  &.badge-combo {
    color: @white;
    font-family: 'thirdwing';
    font-size: 24em/@fs;
    line-height: 28em/24;
    width: 28em/24;
    padding: 0;
    margin: 2em/24 2em/24 0 0;
  }
  &.badge-combo-aanwezig, &.badge-combo-vervanging { background: @green; }
  &.badge-combo-vraag {                              background: @grey; }
  &.badge-combo-afwezig {                            background: @red; }

  @media print {

    &.badge-combo-aanwezig, &.badge-combo-vervanging { background: @grey-dark; }
    &.badge-combo-vraag {                              background: @grey; }
    &.badge-combo-afwezig {                            background: transparent; }

  }

  &.badge-sleepgroep {
    color: @white;
    width: 20em/16;
    background: @yellow;
  }
  &.badge-nummer {
    font-size: 12em/@fs;
    line-height: 28em/12;
    color: @white;
    width: 20em/12;
    background: @grey-light;
  }
  &.badge-kar {
    color: @white;
    background: @blue;
    width: 110em/@fs;
  }

  &.badge-date {
    width: 162em/@fs;
    text-transform: uppercase;
    text-align: left;
    &:before { color: @red; }
  }

  &.badge-time {
    color: @white;
    background: @red;
    width: 74em/@fs;
  }
  &.badge-koor-tijd {
    color: @white;
    background: @primary;
    width: 74em/@fs;
  }
  &.badge-sleepgroep-tijd {
    color: @white;
    background: @yellow;
    width: 80em/@fs;
  }
}

@media screen {

a:link, a:visited {
  .badge.badge-nummer {
    background: @primary;
  }
}

} /* screen */

.field-icon-application-pdf {
  .icon(@fa-var-file-pdf-o);
}