.badge {
  display: inline-block;
  vertical-align: middle;  
  font-size: @fs;
  line-height: 24em/@fs;
  padding: 4em/@fs;
  margin: 0 4em/@fs 4em/@fs 0;
  text-align: center;
  .transition-standard();

  color: @white;
  .border-radius();

  &.badge-general {
    background: @grey;
  }
  &.badge-combo {
    font-family: thirdwing;
    font-size: 24em/@fs;
    width: 24em/24;
    line-height: 23em/24;
    padding: 4em/24;
    margin: 0 4em/24 4em/24 0;
  }
  &.badge-combo-aanwezig, &.badge-combo-vervanging { background: @green; }
  &.badge-combo-vraag {                        background: @grey; }
  &.badge-combo-afwezig {                      background: @red; }

  @media print {
    &.badge-combo-aanwezig, &.badge-combo-vervanging { background: @grey-dark; }
    &.badge-combo-vraag {                        background: @grey-light; }
    &.badge-combo-afwezig {                      background: transparent; }
  }

  &.badge-sleepgroep {
    width: 24em/@fs;
    line-height: 24em/@fs;
    @media screen {
      background: @yellow;
    }
    @media print {
      background: @grey-dark;
    }
  }
  &.badge-nummer {
    width: 24em/@fs;
    line-height: 24em/@fs;
    @media screen {
      background: @grey-light;
    }
    @media print {
      background: @grey-dark;
    }
    &.persoon-aspirant {
      @media screen {
        background: @red-light;
      }
    }
  }
  &.badge-kar {
    width: 8em;
    overflow: hidden;
    @media screen {
      background: @blue;
    }
    @media print {
      background: @grey-dark;
    }
  }

  &.badge-date {
    background: @white;
    color: @black;
    width: 12em;
    text-align: left;
    text-transform: uppercase;
    &:before {
      color: @red;
    }
    span {
      padding: 0 1px;
    }
    @media screen {
      background: @white;
    }
    @media print {
      background: transparent;
    }
  }

  &.badge-time {
    width: 66em/12;
    @media screen {
      background: @red;
    }
    @media print {
      background: transparent;
      color: @black;
    }
  }
  &.badge-koor-tijd {
    width: 66em/12;
    @media screen {
      background: @primary;
    }
    @media print {
      background: transparent;
      color: @black;
    }
  }
  &.badge-sleepgroep-tijd {
    width: 5em;
    @media screen {
      background: @yellow;
    }
    @media print {
      background: @grey-dark;
    }
  }
  &.badge-color-purple { background: @purple; }
  &.badge-color-orange { background: @orange; }
  &.badge-color-red    { background: @red; }
  &.badge-color-yellow { background: @yellow; }
  &.badge-color-blue   { background: @blue; }
  &.badge-color-green  { background: @green; }
  &.badge-color-pink   { background: @pink; }
  &.badge-color-brown  { background: @brown; }
}

@media screen {

a:link, a:visited {
  .badge.badge-nummer {
    background: @red-light;
  }
}

tr {
  &.odd, &.even {
    &:hover {
      .Repetitie {
        .badge.badge-sleepgroep, .badge.badge-sleepgroep-tijd {
          background: @yellow;
        }
        .badge.badge-time {
          background: @red;
        }
        .badge.badge-koor-tijd {
          background: @primary;
        }
        .badge.badge-kar {
          background: @blue;
        }
        .badge-combo-aanwezig, .badge-combo-vervanging { background: @green; }
        .badge-combo-afwezig                     { background: @red; }
        .badge-combo-vraag                       { background: @grey; }
      }
      .badge.badge-date {
        background: @white;
      }
      .badge.badge-nummer {
        background: @grey;
      }
      a {
        &:link, &:visited {
          .badge.badge-nummer {
            background: @secondary;
          }
        }
        &:hover, &:active, &:focus {
          .badge.badge-nummer {
            background: @primary;
          }
        }
      }
    }
  }
  &.odd {
    .badge.badge-date {
      background: @white-off;
    }
  }
}

.Repetitie {
  .badge.badge-time {
    background: @red-light;
  }
  .badge.badge-koor-tijd {
    background: @primary-light;
  }
  .badge.badge-sleepgroep, .badge.badge-sleepgroep-tijd {
    background: @yellow-light;
  }
  .badge.badge-kar {
    background: @blue-light;
  }
  .badge-combo-aanwezig, .badge-combo-vervanging { background: @green-light; }
  .badge-combo-afwezig                     { background: @red-light; }
  .badge-combo-vraag                       { background: @grey-light; }
}

}

@media print {

.Repetitie .badge {
  font-weight: normal;
}

} // print


// Icons

.icon { 
  &:before {
    font-family: FontAwesome;
    display: inline-block;
    margin-right: 0.25em;
    width: 1em;
    text-align: center;
    color: @black;
  }
}
.icon-only() {
  display: inline-block;
  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;
  position: relative; /* for absolute positioning of icon */
  vertical-align: bottom;
  width: 24em/@fs;
  &:before {
    font-family: FontAwesome;
    text-indent: 0;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0;
    display: inline;
    width: auto;
  }
}


.views-field-edit-node, 
.views-field-delete-node, 
.views-field-clone-node {
  a { .icon-only(); }
}
.comment_comments, 
.comment_add,
.comment_reply,
.comment_edit,
.comment_delete,
.upload_attachments {
  a { .icon; }
}
.views-field-edit-node   a:before { content: '\f044'; }
.views-field-delete-node a:before { content: '\f147'; }
.views-field-clone-node  a:before { content: '\f24d'; }
.comment_comments        a:before { content: '\f086'; }
.comment_add             a:before { content: '\f0e5'; }
.comment_reply           a:before { content: '\f196'; }
.comment_edit            a:before { content: '\f044'; }
.comment_delete          a:before { content: '\f147'; }
.upload_attachments      a:before { content: '\f0c5'; }

// File icons

.field-icon-application-pdf { display: none; }
a[type*="pdf"] {
  .icon;
  &:before { content: '\f1c1'; }
}
a[type*="mpeg"] {
  .icon;
  &:before { content: '\f1c7'; }
}