@font-face {
  font-family: 'thirdwing';
  src:url('../fonts/thirdwing.eot?6atzak');
  src:url('../fonts/thirdwing.eot?#iefix6atzak') format('embedded-opentype'),
    url('../fonts/thirdwing.ttf?6atzak') format('truetype'),
    url('../fonts/thirdwing.woff?6atzak') format('woff'),
    url('../fonts/thirdwing.svg?6atzak#band') format('svg');
  font-weight: normal;
  font-style: normal;
}

/**
 * Generic elements
 */
dl.user-member {
  display: none;
}
body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-family: 'Open Sans', Verdana, sans-serif;
  font-size: 100%;
  color: @black;
}
#wrapper {
  font-size: @fs/16em;
  line-height: @lh/@fs+0em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', Verdana, sans-serif;
  a:link, a:visited {
    color: @secondary;
  }
  a:hover, a:active, a:focus {
    color: @primary;
  }
}
h1 {
  color: @secondary;
  @media print { color: @grey-dark; }
  font-weight: 600;
  font-size: 36em/@fs;
  line-height: 36em/36;
  margin-bottom: 24em/36;
  position: relative;
  z-index: 3;
}

h2 {
  color: @secondary;
  @media print { color: @grey-dark; }
  font-weight: 600;
  font-size: 24em/@fs;
  line-height: 36em/24;
  margin-bottom: 24em/36;
}
h3 {
  color: @red;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20em/@fs;
  line-height: 36em/20;
}

h4 {
  color: @grey;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20em/@fs;
  line-height: 36em/20;
}

h5 {
  color: @grey;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14em/@fs;
  line-height: 24em/@fs;
}

h6 {
  color: @grey;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14em/@fs;
  line-height: 24em/@fs;
}

ul, quote, code, fieldset {
  margin: .5em 0;
}

p {
  margin: 0 0 24em/@fs;
  padding: 0;
}
strong, b {
  color: @red;
  text-transform: uppercase;
}
.fa {
  font-family: 'Open Sans', Verdana, sans-serif;
}
.fa:before {
  font-family: fontawesome;
  margin-right: 2px;
}
a {
  .transition-standard();
}
a:link, a:visited {
  color: @primary;
  @media print { color: @black; }
  text-decoration: none;
}

a:hover, a:active, a.active, a.active-trail {
  color: @secondary;
  text-decoration: none;
}

.sidebar a:hover, .sidebar a:active, .sidebar a.active, .sidebar a.active-trail {
  color: @primary;
  text-decoration: none;
}

::selection {
  color: @white;
  background: @secondary;
}

hr {
  display: none;
}

em {
  font-style: italic;
}

ul.menu li, .item-list ul li, li.leaf {
  list-style-type: none;
  list-style-image: none;
}
ul, ol {
  margin: 0 0 24em/@fs;
  padding: 0;
  li {
    padding: 0;
    list-style-type: none;
    background: 0;
  }
  &:not([class]) {
    li {
      margin-left: 24em/@fs;
    }
    > li {
      position: relative;
      &:before {
        color: @secondary;
        font-weight: bold;
        text-align: center;
        font-size: 13em/@fs;
        line-height: 24em/13;
        margin-right: 10em/13;
        display: inline-block;
        width: 20em/13;
        position: absolute;
        left: -24em/13;
      }
    }
  }
  ul, ol {
    margin: 0;
  }
}
ul:not([class]) > li:before {
  content: '\2022';
}
ol {
  counter-reset: list;
  > li {
    counter-increment: list;
    &:before {
      content: counter(list);
    }
  }
  ol {
    > li:before {
      content: counter(list, lower-latin);
    }
  }
  ol ol > li:before {
    content: counter(list, lower-roman);
  }
  ol ol ol > li:before {
    content: counter(list, lower-greek);
  }
}

ul li.expanded {
  background: transparent url(../images/menu-expanded.png) no-repeat 1px 0; /* LTR */
}

ul li.collapsed {
  background: transparent url(../images/menu-collapsed.png) no-repeat 0px 0; /* LTR */
}

ul li.leaf a, ul li.expanded a, ul li.collapsed a {
  display: block;
}

ul.inline li {
  background: none;
  margin: 0;
  padding: 0 1em 0 0; /* LTR */
}

ol.task-list {
  margin-left: 0; /* LTR */
  list-style-type: none;
  list-style-image: none;
}
ol.task-list li {
  padding: 0.5em 1em 0.5em 2em; /* LTR */
}
ol.task-list li.active {
  background: transparent url(../images/task-list.png) no-repeat 3px 50%; /* LTR */
}
ol.task-list li.done {
  color: #393;
  background: transparent url(../../misc/watchdog-ok.png) no-repeat 0px 50%; /* LTR */
}
ol.task-list li.active {
  margin-right: 1em; /* LTR */
}

fieldset ul.clear-block li {
  margin: 0;
  padding: 0;
  background-image: none;
}

dl {
  margin: 0.5em 0 1em 1.5em;
}

dl dt {
}

dl dd {
  margin: 0 0 .5em 1.5em;
}

img, a img {
  border: none;
}

/**
  * Tables
  */

td, td.active, thead th, tr, tr.odd, tr.even {
  // Drupal system.css reset
  background: 0;
  border: 0;
  padding: 0;
}

table {
  margin: 1em 0;
  width: 100%;
  border-bottom: 2px solid @primary;
  @media print { border-color: @grey-dark; }
}

thead th {
  color: @white;
  font-weight: bold;
  background: @primary;
  padding: 0 6em/@fs 15em/@fs;
  vertical-align: top;
  @media print {
    color: @black;
    background: transparent;
    border-bottom: 2px solid @grey-dark;
  }
  a {
    &:link, &:visited {
      color: @white;
      text-decoration: none;
      @media print { color: @black; }
    }
    &:hover, &:active {
     color: @secondary;
    }
  }
  &:first-child {
    .border-radius(@border-radius-small 0 0 0);
  }
  &:last-child {
    .border-radius(0 @border-radius-small 0 0);
  }
}
tbody {
  td, td.active {
    padding: 12em/@fs 6em/@fs 18em/@fs;
    vertical-align: top;
  }
  tr:first-child {
    td, td.active {
      padding-top: 15em/@fs;
    }
  }
  tr, tr.odd, tr.even {
    .transition-standard();
    @media screen { background: transparent url('../images/dots-grey.svg') repeat-x 0% 98%; }
    &:last-child {
      background: transparent;
    }
    &:hover {
      @media screen { 
        &:not(:last-child) {
          background-image: url('../images/dots-orange.svg');
        }
      }
    }
    @media print {
      border-bottom: 1px solid @grey-dark;
    }
  }
}

td.region, td.module, td.container {
  border-top: 1.5em solid @white;
  border-bottom: 1px solid @black;
  background-color: @primary-light;
  color: @black;
  font-weight: bold;
}

tr:first-child td.region, tr:first-child td.module, tr:first-child td.container {
  border-top-width: 0;
}
.block-search label {
  display: none;
}
span.form-required {
  color: @red;
}

span.submitted, .description, .small {
  font-size: 0.91666666666666666666666666666667em; /* 11px / 12px */
  line-height: 1.6363636363636363636363636363636em; /* 18px / 11px */
  color: @grey;
}
span.submitted a:link, span.submitted a:visited {
  color: @grey;
}
span.submitted a:hover, span.submitted a:active {
  color: #595aa7;
}
span.read-more {
  
}
.description {
  line-height: 150%;
  margin-bottom: 0.75em;
  color: @grey;
}

.messages, .preview {
  margin: 0 0 24em/@fs;
  padding: 24em/@fs;
}
.messages.status,
.messages.error,
.messages.warning {
  margin: 0 0 24em/@fs;
  padding: 24em/@fs;
  border: 0;
  background-color: @green-light;
  .border-radius(@border-radius-large);
}
.messages.error {
  background-color: @red-light;
}
.messages.warning {
  background-color: @yellow-light;
}
.messages ul {
  margin: 0;
}
/**
 * Status report colors.
 */
.system-status-report, .update {
  tr.error, tr.error th {
    background-color: @red-light;
    border-bottom: 1px solid @red;
    background-image: none;
  }
  tr.warning, tr.warning th {
    background-color: @yellow-light;
    border-bottom: 1px solid @yellow;
    background-image: none;
  }
  tr.ok, tr.ok th {
    background-color: @green-light;
    border-bottom: 1px solid @green;
    background-image: none;
  }
}

// FORMS

input {
  box-sizing: border-box;
  font-size: 14em/@fs;
  line-height: 24em/14;
  .border-radius();
  border: 2em/14 solid transparent;
  background: @white-off;
  padding: 4em/14 8em/14;
  &:focus:read-write {
    outline: none;
    border: 2em/14 solid @orange;
  }
  &:hover:read-write:not(:focus):not(:disabled) {
    border: 2em/14 solid @grey;
  }
  &:read-only, &:disabled {
    color: @grey;
    background: @grey-light;
  }
  &[type=submit], &[type=reset] {
    .button;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    &:focus, &:hover {
      border-color: transparent;
    }
  }
  &[type=checkbox], &[type=radio] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    ~ .option__indicator {
      cursor: pointer;
      display: inline-block;
      vertical-align: middle;
      width: 12em/14;
      height: 12em/14;
      margin-right: 10em/14;
      border: 2em/14 solid @white-off;
      background: @white-off;
    }
    &:checked ~ .option__indicator {
      background: @grey-dark;
    }
    &:focus ~ .option__indicator {
      border-color: @orange;
    }
    &:disabled ~ .option__indicator {
      border-color: @grey-light;
    }
    &:disabled:checked ~ .option__indicator {
      background: @grey;
    }
  }
  &[type=radio] ~ .option__indicator {
    .border-radius(50%);
  }
}
textarea {
  box-sizing: border-box;
  font-size: 14px;
  line-height: 24em/14;
  .border-radius(@border-radius-small @border-radius-small 0 0);
  border: 1em/14 solid @grey-light;
  &:focus:read-write {
    outline: none;
    border: 2em/14 solid @orange;
  }
}
select {
  display: inline-block;
  position: relative;
  font-size: 14em/@fs;
  line-height: 24em/14;
  cursor: pointer;
  border: 2em/14 solid transparent;
  background: @white-off;
  padding: 4em/14 30em/14 4em/14 8em/14;
  .border-radius();
  outline: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  &::-ms-expand {
    display: none;
  }
  &:focus {
    outline: none;
    border: 2em/14 solid @orange;
  }
  &:hover:not(:focus) {
    border: 2em/14 solid @grey;
  }
  ~ .select__arrow {
    display: inline-block;
    position: relative;
    left: -20em/14;
    width: 0;
    height: 0;
    pointer-events: none;
    border-width: 8em/14 5em/14 0 5em/14;
    border-style: solid;
    border-color: @grey transparent transparent transparent;
  }
  &[multiple] ~ .select__arrow {
    display: none;
  }
}
label:hover input ~ .option__indicator {
    border-color: @grey;
}
label:not(.option) {
  font-weight: normal;
  color: @red;
  text-transform: uppercase;
}
/* Animated throbber */
html.js input.form-autocomplete {
  background-position: 100% 40px; /* LTR */
}
html.js input.throbbing {
  background-position: 100% -15px; /* LTR */
}
.form-item {
  position: relative;
}
.form-checkboxes, .form-radios, .form-checkboxes .form-item, .form-radios .form-item {
  margin: 0.25em 0;
}

#center form {
  margin-bottom: 2em;
}

.form-button, .form-submit {
  margin: 2em 0.5em 1em 0;
}

#watchdog-form-overview .form-submit,
.confirmation .form-submit,
.search-form .form-submit,
.poll .form-submit,
fieldset .form-button, fieldset .form-submit,
.sidebar .form-button, .sidebar .form-submit,
table .form-button, table .form-submit {
  margin: 0;
}

.box {
  margin-bottom: 2.5em;
}


/**
 * CSS support
 */
span.clear {
  display: block;
  clear: both;
  height: 1px;
  line-height: 0px;
  font-size: 0px;
  margin-bottom: -1px;
}