/**
 * Generic elements
 */

body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-family: 'Open Sans', Verdana, sans-serif;
  font-size: 100%;
  color: @black;
}
#page-wrapper {
  font-size: @fs/16em;
  line-height: @lh/@fs+0em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: @grey-dark;
  font-size: 20em/@fs;
  line-height: 60em/20;
  padding-top: 15em/20;
  font-family: 'Open Sans', Verdana, sans-serif;
}
h1 {
  color: @secondary;
  font-size: 26em/@fs;
  line-height: 30em/26;
  padding-top: 12em/26;
  margin-bottom: 48em/26;
  @media @tablet {
    font-size: 42em/@fs;
    line-height: 60em/42;
    padding-top: 5em/42;
    margin-bottom: 55em/42;
  }
}
h2 {
  color: @secondary;
  font-size: 20em/@fs;
  line-height: 60em/20;
  padding-top: 15em/20;
  margin-bottom: 15em/20;
  @media @wide {
    font-size: 26em/@fs;
    line-height: 60em/26;
    padding-top: 12em/26;
    margin-bottom: 18em/26;
  }
}
h3 {
}
h4 {
  font-size: 16em/@fs;
  line-height: 30em/@fs;
  font-weight: 700;
  padding: 0;
  margin: 0;
}
h5 {
  font-weight: 400;
  color: @secondary;
}
h6 {
  font-weight: 300;
}
quote, code, fieldset {
  margin: .5em 0;
}
p {
  padding: 0;
  margin-bottom: 30em/@fs;
}
strong, b {
  font-weight: 600;
  color: @grey-dark;
}
a {
  .transition-standard();
}
a:link, a:visited {
  color: @primary;
  text-decoration: none;
}
a:hover, a:focus, a:active, a.active, a.active-trail {
  color: @secondary;
  text-decoration: none;
}

/* Boxed link style */
.node p, .node li, .node .filefield-file, #breadcrumb {
  a {
    display: inline-block;
    white-space: nowrap;
    line-height: 28em/@fs;
    padding: 0 3em/@fs;
    margin: 2em/@fs -3em/@fs 0;
    .border-radius(@border-radius-small);
    &:hover {
      background: @secondary;
      color: @white;
    }
  }
}
::selection {
  color: @white;
  background: @secondary;
}

ul, ul.menu, ul.links {
  li, li.leaf, li.collapsed, li.expanded {
    list-style: none;
  }
}
.item-list ul li {
  list-style: none;
}
.nd-region-header {
  ul, ol {
    list-style-type: none;
    margin: 0 0 30em/@fs;
    padding: 0 0 0 30em/@fs;
    ul, ol {
      margin: 0;
    }
    ul > li {
      .icon(@fa-var-circle-o);
      position: relative;
      &:before {
        color: @secondary;
        font-size: 13em/@fs;
        line-height: 30em/13;
        margin-right: 10em/13;
      }
    }
  }
  ul {
    > li {
      .icon(@fa-var-circle);
      position: relative;
      &:before {
        color: @secondary;
        font-size: 13em/@fs;
        line-height: 30em/13;
        margin-right: 10em/13;
        position: absolute;
        left: -30em/13;
      }
    }
  }
}
ol > li {
  counter-increment: count-me;
  position: relative;
  &:before {
    content: counter(count-me);
    color: @secondary;
    font-size: 13em/@fs;
    line-height: 30em/13;
    margin-right: 10em/13;
    font-weight: bold;
    display: inline-block;
    width: 13em/13;
    position: absolute;
    left: -30em/13;
  }
}
hr {
  display: none;
}
img, a img {
  border: none;
}

/** TABLES **/

td, td.active, thead th, tr, tr.odd, tr.even {
  // Drupal system.css reset
  background: 0;
  border: 0;
  padding: 0;
}

@media screen {
  table, tbody, th, td, tr { 
    display: block;
  }
  thead { display: none; }
}

@media @tablet {
  table { display: table; }
  tr { display: table-row; }
  td, th { display: table-cell; }
  thead { display: table-header-group; }
  tbody { display: table-row-group; }
}

table {
  width: 100%;
  margin-bottom: 30em/@fs;
  tbody:hover tr {
    background: @white url('../images/line-dots-grey.svg') repeat-x bottom left;
//    .blur();
  }
}
thead th {
  background: @primary;
  color: @white;
  padding: 0 5em/@fs 15em/@fs;
  &:first-child {
    .border-radius(@border-radius-small 0 0 0);
  }
  &:last-child {
    .border-radius(0 @border-radius-small 0 0);
  }
}
tbody {
  td, td.active {
    padding: 12em/@fs 5em/@fs 18em/@fs;
  }
  tr:first-child {
    td, td.active {
      padding-top: 15em/@fs;
    }
  }
  tr, tr.odd, tr.even {
    background: @white url('../images/line-dots-grey.svg') repeat-x bottom left;
    &:last-child {
      background: @white;
    }
    &:hover {
      background: @white url('../images/line-dots-orange.svg') repeat-x bottom left;
//      .unblur();
      .badge:not(.badge-date) { .saturate(); }
    }
  }
}


.form-checkboxes, .form-radios, .form-checkboxes .form-item, .form-radios .form-item {
  margin: 0.25em 0;
}

#main form {
  margin-bottom: 2em;
}

.form-button, .form-submit {
  margin: 2em 0.5em 1em 0;
}

#watchdog-form-overview .form-submit,
.confirmation .form-submit,
.search-form .form-submit,
.poll .form-submit,
fieldset .form-button, fieldset .form-submit,
.sidebar .form-button, .sidebar .form-submit,
table .form-button, table .form-submit {
  margin: 0;
}

/**
 * CSS support
 */
span.clear {
  display: block;
  clear: both;
  height: 1px;
  line-height: 0px;
  font-size: 0px;
  margin-bottom: -1px;
}

.button {
  display: inline-block;
  vertical-align: bottom;
  line-height: 58em/@fs;
  padding: 0 10em/@fs;
  margin: 2em/@fs 2em/@fs 0 0;
  @media @normal {
    line-height: 28em/@fs;
    padding: 0 10em/@fs;
    margin: 2em/@fs 2em/@fs 0 0;
  }
  .border-radius(@border-radius-small);
  &:link, &:visited {
    color: @white;
    background: @primary;
  }
  &:active, &:hover, &:focus, &.active {
    background: @secondary;
  }
}
.button-social {
  .icon-only();
  padding: 0 7em/@fs;
  &:link, &:visited {
    background: @primary;
  }
  &:active, &:hover, &:focus, &.active {
    background: @secondary;
  }
}