/**
 * Collapsible fieldsets
 */
fieldset {
  margin: 0 0 24em/@fs;
  padding: 56em/@fs 24em/@fs 24em/@fs;
  border: 2em/@fs solid @white-off;
  background-color: @white;
  .border-radius(@border-radius-small);
  position: relative;
  box-sizing: border-box;
}
.buildmode-teaser fieldset {
  background-color: @white;
}
fieldset legend {
  position: absolute;
  top: -2em/@fs;
  left: -2em/@fs;
  right: -2em/@fs;
  box-sizing: border-box;
  padding: 0 24em/@fs;
  background-color: @white-off;
  line-height: 32em/@fs;
  border: 2em/@fs solid @white-off;
  .border-radius(@border-radius-small);
}
.buildmode-teaser fieldset legend {
  color: @grey-dark;
  background: @white;
}

html.js fieldset.collapsed {
  margin: 0 0 24em/@fs;
  padding: 0 0 32em/@fs;
  border: 2em/@fs solid @white-off;
}
html.js fieldset.collapsible legend {
  border: 2em/@fs solid @primary;
  background-color: @primary;
  &:hover {
    border: 2em/@fs solid @secondary;
    background-color: @secondary;
  }
}
html.js fieldset.collapsible legend a {
  background: 0; // prevent default arrow from appearing
  padding: 0;
}
html.js fieldset.collapsible legend a::after {
  display: inline-block;
  content: '  ';
  height: 0;
  position: relative;
  width: 0;
  border: 5px solid transparent;
  border-top-color: @white;
  margin-left: 5px;
}
html.js fieldset.collapsed legend a {
  
}
html.js fieldset.collapsed legend a::after {
  border-top-color: transparent;
  border-left-color: @white;
}
html.js fieldset.collapsible legend a:link,
html.js fieldset.collapsible legend a:visited {
//  background-color: @primary;
  color: @white;
}
html.js fieldset.collapsible legend a:hover,
html.js fieldset.collapsible legend a:focus,
html.js fieldset.collapsible legend a:active {
//  background-color: @secondary;
  color: @white;
}