/**
 * Layout
 */

#print {
  display: none;
}
body {
  min-width: 320em/@fs;
}
#page-wrapper {
  background: @white-off;
}

.layout-container {
  padding: 0 20em/@fs;
  margin: 0 auto;
  position: relative;
}

/**
 * Header
 */
