/**
 * Layout
 */

#print {
  display: none;
}
body {
  min-width: 320em/@fs;
}
#page-wrapper {
  background: @white-off;
}

.layout-container {
  padding: 0 20rem/@fs;
  margin: 0 auto;
  position: relative;
  @media @normal {
    padding: 0 80rem/@fs;
    max-width: @wide-width - 20rem/@fs;
  }
}

/**
 * Header
 */
#header {
  background: @primary;
  .box-shadow(@box-shadow-inset);
}
#logo {
  height: 105rem/@fs;
  padding: 15rem/@fs 20rem/@fs 23rem/@fs;
  margin: 0 -20rem/@fs 37rem/@fs;
  @media @tablet {
    box-sizing: border-box;
    height: 203rem/@fs;
    position: relative;
  }
  @media @normal {
    padding: 15rem/@fs 60rem/@fs;
    margin: 0 -60rem/@fs 15rem/@fs;
    height: 195em/@fs;
  }
}

#logo-img {
  &:after {
    display: block;
    content: '\e900';
    font-family: 'thirdwing';
    font-size: 80rem/@fs;
    line-height: 90rem/@fs;
    box-sizing: border-box;
    .border-radius(@border-radius-large);
    background: @primary;
    color: @white;
    border: 2rem/@fs solid @white;
    width: 90rem/@fs;
    height: 90rem/@fs;
    float: left;
    text-align: center;
    @media @tablet {
      font-size: 130rem/@fs;
      line-height: 150rem/@fs;
      width: 150rem/@fs;
      height: 150rem/@fs;
    }
  }
}
.hero #logo-img {
}
#logo-title {
  font-size: 35rem/@fs;
  line-height: 42rem/@fs;
  font-weight: 600;
  float: left;
  color: @white;
  width: 2rem;
  margin-left: 15rem/@fs;
  &::first-line {
    font-size: 28rem/@fs;
    line-height: 42rem/@fs;
    font-weight: 400;
  }
  @media @tablet {
//    display: none;
    font-size: 70rem/@fs;
    line-height: 75rem/@fs;
    margin-left: 30rem/@fs;
    &::first-line {
      font-size: 28rem/@fs;
      line-height: 60rem/@fs;
    }
  }
}
#logo-slogan {
  display: none;
  @media @normal {
    display: block;
    font-size: 36rem/@fs;
    line-height: 40rem/@fs;
    font-family: 'Indie Flower';
    text-align: right;
    display: table-cell;
    vertical-align: bottom;
    height: 120px;
    color: @secondary;
  }
}
#menu-service {
  position: absolute;
  height: 45em/@fs;
  overflow: visible;
  right: 20em/@fs;
  top: 120em/@fs;
  left: 20em/@fs;
  z-index: 5;

  background: @tertiary;
  .border-radius();
  .box-shadow();

  @media @tablet { 
    background: @secondary;
    top: 0; 
    left: inherit; 
    .border-radius(0 0 @border-radius-small @border-radius-small);
  }
  @media @normal { 
    right: 80em/@fs; 
    height: 30em/@fs; 
  }
}
#menu-main {
  z-index: 10;

  @media @normal {
    padding: 0 0;
    height: 30em/@fs;
    margin: -30em/@fs auto 0;
    position: inherit;
    left: inherit;
    top: inherit;
  }
}

#breadcrumb {
  font-size: 13em/@fs;
  line-height: 30em/13;
  margin: 0 0 20em/13;
  height: 30em/13;
  clear: both;
  .bull {
    color: @secondary;
  }
}

#breadcrumb, #breadcrumb a {
  color: @black;
}
.messages {

}

@media @tablet-ls {

/* We must define 100% width to avoid the body being too narrow for near-empty pages */
#main {
  float: left;
  width: 100%;
  min-height: 100vh; 
}

/* So we move the #main container over the sidebars to compensate */
body.sidebar-left #main {
  margin-left: -140em/@fs;
}
body.sidebar-right #main {
  margin-right: -140em/@fs;
}
body.two-sidebars #main {
  margin: 0 -140em/@fs;
}

/* And add blanks left and right for the sidebars to fill */
body.sidebar-left #main-squeeze {
  margin-left: 160em/@fs;
}
body.sidebar-right #main-squeeze {
  margin-right: 160em/@fs;
}
body.two-sidebars #main-squeeze {
  margin: 0 160em/@fs;
}

/* We ensure the sidebars are still clickable using z-index */
.layout-container .sidebar {
  margin: 180em/@fs 0 80em/@fs;
  width: 140em/@fs;
  float: left;
  z-index: 2;
  position: relative;
}

} // tablet-ls

.sidebar .block {
  margin: 0 0 60em/@fs 0;
}
.sidebar h2 {
  color: @grey;
  text-align: right;
  line-height: 30em/20;
  padding: 0;
  margin: 0;
}

.block .content {
  margin: 0;
}

#main-squeeze {
  background: none;
  position: relative;
}

#footer {
  float: none;
  clear: both;
  text-align: left;
  color: @white-off;
  background: @tertiary;
  background-size: auto 200%;
  .box-shadow(@box-shadow-inset);
  a { .link-light; }
  ul.menu a {
    .button;
    .button-light;
  }
  h2 { .h3; color: @white; }
  @media @tablet-ls {
    height: 700rem/@fs;
    #footer-left {
      width: 60%;
      float: left;
      .block {
        width: 30%;
        float: left;
      }
    }
    #footer-right {
      width: 40%; 
      float: right;
    }
  }
}
#block-menu-menu-social {
  ul.menu a {
    .button-x3;
    .button-icon-only;
    .button-icon-only-x3;
  }
}
#to-top a {
  .icon(@fa-var-mars);
  .button;
  .button-x3;
  .button-icon-only;
  .button-icon-only-x3;
}

#l10n-client, #admin-toolbar {
  display: none;
  @media @wide {
    display: block;
  }
}