/**
 * Primary navigation
 */

.toggle-nav, .toggle-tabs {
  .box-shadow();
  @media @phone-ls-max {
    .button-icon-only;
    .button-icon-only-x2;
  }
  @media @phone-ls {
    width: 130rem/@fs;
  }
  @media @normal {
    display: none;
  }
  margin: 0;
}
.toggle-nav {
  z-index: 10;
}
#menu-main, #menu-service, #menu-local-tasks {
  line-height: 28rem/@fs;
  :not(li) > ul.menu, > ul.menu {
    vertical-align: top;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 5;
    background-color: @tertiary;
    @media @tablet {
      .box-shadow();
    }
    li {
      position: relative;
      margin: 0;
      padding: 0;
      a {
        font-size: 20rem/@fs;
        line-height: 43rem/@fs;
        text-decoration: none;
        @media @normal {
          font-size: 16rem/@fs;
          line-height: 28rem/@fs;
        }
      }
    }
    > li {
      @media @normal {
        display: inline-block;
        vertical-align: top;
        padding-bottom: 10em/@fs; /* 10px force a gap between menu and submenu */
        margin-bottom: -10em/@fs; /* 10px remove extra height from menu */
      }
      > a:link, > a:visited {
        display: block;
        color: @white-off;
        margin: 0;
        padding: 0 20rem/@fs;
        @media @tablet {
          padding: 0 10rem/@fs;
        }
        @media @normal {
          .border-radius(@border-radius-small);
          display: inline-block;
          vertical-align: top;
        }
        &.icon-only {
          @media @normal { 
            .button-icon-only;
            vertical-align: top;
            padding: 0 6rem/@fs;
          }
        }
      }
      > a:active, > a:focus, > a:hover, > a.active, > a.active-trail, &.active-trail > a, &.over > a, &:hover > a {
        background-color: @secondary;
        color: @white;
        @media @normal {
          .box-shadow();
        }
      }
      &.expanded > a {
        .menu-arrow;
      }
      &:hover > ul {
        // LEVEL 2 VISIBLE
        max-height: 960rem/@fs;
        overflow: visible;
      }
      > ul {
        // LEVEL 2
        max-height: 0;
        overflow: hidden; 
        .transition(max-height 0.5s);
        padding: 0;
        margin: 0;
        z-index: 4;
        background: @grey;
        .box-shadow(@box-shadow-inset);
        @media @normal {
          position: absolute;
          top: 100%;
          min-width: 100%;
          .box-shadow();
          .border-radius();
        }
        li { 
          display: list-item; 
          float: none;
          @media @normal {
            padding-right: 10rem/@fs;
            margin-right: -10rem/@fs;
          }
          a:link, a:visited {
            padding: 0 20em/20;
            @media @tablet { padding: 0 7rem/@fs; }
            white-space: nowrap;
            display: block;
            color: @white;
          }
          a:active, a:focus, a:hover, a.active, a.active-trail, &:hover > a {
            background: @secondary;
            .box-shadow(none);
          }
        }
        li.first > a {
          @media @normal { .border-radius(@border-radius-small @border-radius-small 0 0); }
        }
        li.last > a {
          @media @normal { .border-radius(0 0 @border-radius-small @border-radius-small); }
        }
        > li.expanded > a {
          .menu-arrow;
        }
      }
      > ul > li:hover > ul {
        max-height: 960rem/@fs;
      }
      > ul > li > ul {
        // LEVEL 3
        max-height: 0;
        overflow: hidden;
        padding: 0;
        margin: 0;
        background: @grey;
        .box-shadow(@box-shadow-inset);
        @media @normal {
          background: @tertiary;
          position: absolute;
          left: 100%;
          top: 0;
          .box-shadow();
          .border-radius();
        }
      }
    }
  }
}
#menu-main, #menu-local-tasks {
  position: relative;
  &.nav-active {
    :not(li) > ul.menu, > ul.menu {
      margin-top: 15rem/@fs;
      max-height: 1200rem/@fs;
      @media @tablet {
        margin-top: 0;
      }
    }
  }
  :not(li) > ul.menu, > ul.menu {
    .transition(max-height 0.5s);
    .box-shadow(@box-shadow-inset);
    overflow: hidden;
    max-height: 0;
    margin: 0 -20rem/@fs;
    @media @tablet {
      position: absolute;
      top: 55rem/@fs;
      margin: 0;
      width: 320rem/@fs;
      .border-radius();
      .box-shadow();
    }
    @media @normal {
      position: relative;
      top: inherit;
      width: 100%;
      max-height: 960rem/@fs;
      overflow: visible;
    }
    > li {
      > a:link, > a:visited {
        padding: 0 20rem/@fs;
        @media @tablet { padding: 0 10rem/@fs; }
      }
    }
    &.menu-secondary {
      background: @grey;
      margin-top: 30rem/@fs;
    }
  }
}
#menu-service {
  :not(li) > ul.menu {
    .border-radius(@border-radius-small);
    .box-shadow;
    text-align: right;
    padding: 0 0 0 45rem/@fs;
    @media @tablet {
      .border-radius(0 0 @border-radius-small @border-radius-small);
      padding: 0;
    }
    > li {
      display: inline-block;
      vertical-align: top;
      > a:link, > a:visited {
        display: inline-block;
        vertical-align: top;
        .border-radius(@border-radius-small);
      }
      > a:active, > a:focus, > a:hover, > a.active, > a.active-trail, &.active-trail > a, &.over > a, &:hover > a {
        .box-shadow();
      }
      a.icon-only {
        .button-icon-only;
        padding: 0 6rem/@fs;
        vertical-align: top;
        @media @normal-max { 
          .button-icon-only-x2;
        }
      }
    }
  }
}
.menu-arrow {
  /* arrow for submenu */
  position: relative;
  &:after {
    content: '  ';
    height: 0;
    position: absolute;
    right: 8rem/@fs;
    top: 15em/@fs;
    width: 0;
    border: 5rem/@fs solid transparent;
    border-top-color: @white;
    margin: 0 0 0 2rem/@fs;
    overflow: hidden;
    display: inline-block;
    @media @normal {
      position: relative;
      top: 0;
      right: 0;
      border: 3rem/@fs solid transparent;
      border-top-color: @white;
    }
  }
}
.menu-arrow-down {
}
.menu-arrow-right {
}