// Primary navigation
#header .content {
  margin: 0;
  padding: 0;
}
.menu-toggle, .local-toggle {
  @media @tablet {
    display: none;
  }
  margin: 0;
}
.menu-toggle {
  width: 84em/@fs;
}
.menu-toggle, .node-hero .local-toggle {
  .box-shadow();
}
#menu-wrapper :not(li) > ul.menu {
  // TOP LEVEL MENU
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 4;
}
#menu-main :not(li) > ul.menu,
#menu-local > ul.tabs {
  max-height: 0; // HIDE MENU
  overflow: hidden;
  @media @tablet { 
    max-height: 1200em/@fs; // SHOW MENU
	overflow: visible;
  }
}
#menu-main.is-open :not(li) > ul.menu,
#menu-local.is-open > ul.tabs {
  // TOGGLE MENU WITH BUTTON
  max-height: 1200em/@fs;
  overflow: visible;
}
#menu-wrapper :not(li) > ul.menu li {
  // ALL LIST ITEMS IN MENU
  position: relative;
  margin: 0;
  padding: 0;
  background: none;
  a {
    line-height: 32em/@fs;
    text-decoration: none;
	color: @white;
  }
}
#menu-wrapper :not(li) > ul.menu > li {
  // TOP LEVEL ITEMS FOR MAIN AND SERVICE
  > a:link, > a:visited {
    display: block;
    margin: 0 1em/@fs;
    padding: 0 7em/@fs;
	.border-radius(@border-radius-small);
  }
  > a:active, > a:focus, > a:hover, > a.active, > a.active-trail, &.active-trail > a, &.over > a, &:hover > a {
    background-color: @secondary;
    .box-shadow();
  }
}
#menu-main :not(li) > ul.menu > li {
  // TOP LEVEL ITEMS FOR MAIN
  @media @tablet {
    padding-bottom: 10px; /* force a gap between menu and submenu */
    margin-bottom: -10px; /* remove extra height from menu */
    float: left;
  }
  > a:link, > a:visited {
    margin-top: 6em/@fs;
  	@media @tablet {
	  margin-top: 0;
	}
  }
  &.expanded > a {
    .menu-arrow;
  }
}
#menu-service :not(li) > ul.menu > li {
  // TOP LEVEL ITEMS FOR SERVICE
  padding-bottom: 10px; /* force a gap between menu and submenu */
  margin-bottom: -10px; /* remove extra height from menu */
  float: left;
}
#menu-wrapper :not(li) > ul.menu > li > ul {
  // ALL LIST ITEMS LEVEL 2 AND LOWER
  li { 
    display: list-item; 
    float: none;
    position: relative;
    padding-right: 10px;
    margin-right: -10px;
  }
  li { 
    a:link, a:visited {
      position: relative;
      padding: 0 7px;
      white-space: nowrap;
    }
    a:active, a:focus, a:hover, a.active, a.active-trail, &:hover > a {
      background: @secondary;
    }
	a.active-trail:not(.active) {
	  .box-shadow(@box-shadow-large);
	  z-index: 100;
	}
  }
  @media @tablet {
    li.first > a {      .border-radius(@border-radius-small @border-radius-small 0 0); }
    li.last > a {       .border-radius(0 0 @border-radius-small @border-radius-small); }
    li.first.last > a { .border-radius(@border-radius-small); }
  }
}
#menu-wrapper :not(li) > ul.menu > li > ul,
#menu-wrapper :not(li) > ul.menu > li > ul > li > ul {
  // HIDE LEVEL 2 + 3
  max-height: 0;
  overflow: hidden;
  @media @tablet { 
    transition: max-height 0s 0.3s, 
	            overflow 0s 0.3s; 
  }
}
#menu-wrapper :not(li) > ul.menu > li > ul {
  // LEVEL 2
  padding: 0;
  margin: 0;
  z-index: 5;
  background: @grey;
  .box-shadow(@box-shadow-inset);
  @media @tablet {
    position: absolute;
    top: 100%;
    min-width: 100%;
	.border-radius();
	background: @grey-dark;
	box-shadow: 0 0 10px @black;
  }
  > li.expanded > a {
    padding-right: 12px;
    .menu-arrow;
  }
}
@media @tablet {
  #menu-wrapper :not(li) > ul.menu > li:hover > ul,
  #menu-wrapper :not(li) > ul.menu > li > ul > li:hover > ul {
    // SHOW LEVEL 2 AND 3
    max-height: 1200em/@fs;
    overflow: visible;
	transition-delay: 0s;
  }
}
@media @tablet-max {
  #menu-wrapper :not(li) > ul.menu > li.open > ul,
  #menu-wrapper :not(li) > ul.menu > li > ul > li.open > ul {
    // SHOW LEVEL 2 AND 3
    max-height: 1200em/@fs;
  }
}
#menu-wrapper :not(li) > ul.menu > li > ul > li > ul {
  // LEVEL 3
  padding: 0;
  margin: 0;
  z-index: 2;
  background: @grey;
  .box-shadow(@box-shadow-inset);
  @media @tablet {
    position: absolute;
    left: 100%;
    top: 0;
	background: @grey-dark;
	box-shadow: 0 0 10px @black;
    .border-radius();
  }
}
#menu-wrapper :not(li) > ul.menu .menu-item-parent-duplicate a {
  // TOP LINK OF SUBMENU
}

// ARROW FOR SUBMENU
.menu-arrow {
  position: relative;
  &:after {
    content: '  ';
    height: 0;
    position: relative;
    right: 0;
    width: 0;
    border: 3px solid transparent;
    border-top-color: @white;
    margin: 0 0 0 2px;
    overflow: hidden;
    display: inline-block;
  }
}
// FONT AWESOME ICONS
a.fa {
  font-family: 'Open Sans', Verdana, sans-serif;
  font-size: 14em/@fs;
  line-height: 24em/@fs;
}
#menu-service {
  ul.menu a.fa {
    .fa-menu;
  }
}
#menu-main {
  ul.menu a.fa {
    &::before {
	  display: none;
	}
    @media @tablet {
	  .fa-menu;
	}
  }
}
.fa-menu {
  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;
  width: 18em/@fs;
  position: relative;
  &::before {
    display: block;
    font-family: FontAwesome;
    margin-right: 5em/@fs;
    width: 32em/@fs;
    text-align: center;
	text-indent: 0;
    position: absolute;
    left: 0;
  }
}
// LOCAL TASKS
ul.tabs {
  margin: 2em/@fs 0 24em/@fs;
  @media @tablet {
    margin: 0 0 24em/@fs;
	height: 32em/@fs;
  }
  padding: 0;
  border: 0 solid transparent;
  background: @grey;
  .border-radius();
  li a {
    margin: 0 1em/@fs 1em/@fs 0;
    @media @tablet {
      float: left;
      margin: 0 1em/@fs 0 0;
	}
	padding: 0 7em/@fs;
    display: block;
    line-height: 32em/@fs;
    border: 0 solid transparent;
    &:link, &:visited {
      color: @white;
      background: @grey;
    }
  }
  li:first-of-type a {
    .border-radius();
  }
  li {
    &.active a, a:active, a:hover, a:focus {
      background: @secondary;
      .border-radius();
      border: 0 solid transparent;
    }
  }
}
// MENUS IN MAIN
#main {
  ul.menu, ul.views-summary {
    margin: 24em/@fs 0 0;
    padding: 0;
    display: grid;
    column-gap: 12em/@fs;
    row-gap: 12em/@fs;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    @media @tablet { grid-template-columns: repeat(3, minmax(0, 1fr)); }
    li {
      margin: 0;
      padding: 0;
      background: none;
      box-sizing: border-box;
      a:link, a:visited {
        font-weight: 600;
        color: @grey-dark;
        text-align: center;
        background-color: @grey-light;
        padding: 6em/@fs;
        .border-radius();
        display: block;
        box-sizing: border-box;
      }
      a:hover, a:active, a:focus, a.active, a.active-trail {
        color: @white;
        background-color: @secondary;
      }
      .item-count {
        font-weight: 300;
        font-size: 12em/@fs;
      }
    }
  }
}
// ARCHIVE MENUS IN MAIN
#main {
  .activiteiten, .nieuws, .multimedia, .agenda {
    ul.views-summary {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      @media @phone-ls { grid-template-columns: repeat(4, minmax(0, 1fr)); }
      @media @tablet { grid-template-columns: repeat(6, minmax(0, 1fr)); }
      @media @normal { grid-template-columns: repeat(8, minmax(0, 1fr)); }
      @media @wide { grid-template-columns: repeat(10, minmax(0, 1fr)); }
    }
  }
}
// CALL TO ACTION AND SOCIAL IN MAIN
#main .menu-name-menu-startpagina-rec ul.menu,
#main .menu-name-menu-social ul.menu {
  font-size: 24em/@fs; /* bigger font size */
  line-height: 24/24;
  column-gap: 12em/24; /* reset column-gap because relative to font size */
  row-gap: 12em/24; /* reset row-gap because relative to font size */
  margin: 24em/24 0 0; /* reset columngap because relative to font size */
}
#main .menu-name-menu-startpagina-rec ul.menu {
  grid-template-columns: minmax(0, 1fr);
  @media @tablet { grid-template-columns: repeat(3, minmax(0, 1fr)); }
  li {
    a:link, a:visited {
      color: @white;
      background-color: @primary;
	  height: 100em/24;
	  line-height: 88em/24;
	  padding: 6em/24;
    }
    a:hover, a:active, a.active:link, a.active:visited {
      background-color: @secondary;
      color: @white;
      text-decoration: none;
    }
  }
}
#main .menu-name-menu-social ul.menu {
  grid-template-columns: repeat(1, 100em/24);
  @media @tablet { grid-template-columns: repeat(3, 100em/24); }
  li {
    a:link, a:visited {
      color: @white;
      background-color: @grey-dark;
    }
    a:hover, a:active, a.active:link, a.active:visited {
      background-color: @secondary;
      color: @white;
      text-decoration: none;
    }
	a.fa {
      text-indent: 200%;
      white-space: nowrap;
      overflow: hidden;
      position: relative;
	  aspect-ratio: 1 ~"/" 1;
      &::before {
        font-size: 50em/24;
        line-height: 72em/50;
        width: 72em/50;
        text-align: center;
        text-indent: 0;
        position: absolute;
        left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		margin: 0;
      }
    }
  }
}
.node-hero #main .menu-name-menu-startpagina-rec,
.node-hero #main .menu-name-menu-social {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
}
.node-hero #main .block-menu_block {
  display: contents;
  .content {
    display: contents;
  }
  &:after {
    clear: none;
	display: none;
	content: '';
  }
}
.node-hero #main .menu-name-menu-startpagina-rec {
  width: calc(~"100% - " 112em/@fs ~" - " 4em/@fs);
  @media @tablet { width: calc(~"100% - " 336em/@fs ~" - " 4em/@fs); }
}
.node-hero #main .menu-name-menu-social {
  width: 112em/@fs;
  padding-left: 12em/@fs;
  @media @tablet {
    width: 336em/@fs;
  }
}
// MENUS IN FOOTER
#footer {
  ul.menu {
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
      background: none;
    }
  }
  .menu-name-menu-footer, .menu-name-menu-footer-service, .menu-name-menu-footer-service-visitor {
    ul.menu li {
      a {
        .border-radius(@border-radius-small);
        padding: 4em/@fs 10em/@fs;
        margin: 0 0 4em/@fs;
        line-height: 24/@fs;
        display: block;
        &:link, &:visited {
          background: @grey;
          color: @grey-dark;
        }
        &:hover, &:active, &.active {
          background: @white-off;
          color: @grey-dark;
        }
      }
    }
  }
  .menu-name-menu-social {
    ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 12em/@fs;
    }
    ul li {
      a {
        .border-radius();
        margin: 0;
        &:link, &:visited {
          background: @white-off;
          color: @grey-dark;
        }
        &:hover, &:active {
          background: @grey;
        }
      }
    }
    a.fa {
      text-indent: 200%;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
      height: auto;
      aspect-ratio: 1 ~"/" 1;
      position: relative;
      &::before {
        font-size: 72em/@fs;
        line-height: 100em/72;
        @media @tablet {
          font-size: 50em/@fs;
          line-height: 72em/50;
        }
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        text-indent: 0;
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: 0;
      }
    }
  }
}