/**
 * Nodes and Comments
 */
 
// RESETS FOR ND REGIONS
.nd-region-header, 
.nd-region-left, 
.nd-region-right, 
.nd-region-middle, 
.nd-region-middle-wrapper, 
.nd-region-footer, 
.nd-sidebar-right 
.nd-region-middle, 
.nd-two-sidebars .nd-region-middle, 
.nd-sidebar-left .nd-region-middle {
  float: none;
  display: block;
  margin: 0;
  clear: both;
  width: auto;
}
// CLEAR BLOCK RESET FOR NODES ON MOBILE
article.clear-block:after {
  @media @phone-ls-max {
    content: "";
    display: none;
  }
}

.buildmode-teaser, 
.buildmode-full, 
.buildmode-schema,
.buildmode-3,
#main > dl,
#main > form,
#main > .admin,
#main > .help:not(:empty) {
  &:not(:empty) {
    position: relative;
    background-color: @white;
    @media @darkmode {
//      background-color: @grey-light;
    }
    padding: 24em/@fs;
//    margin: 0 0 24em/@fs;
    .border-radius(@border-radius-large);
    box-sizing: border-box;
  }
}
.buildmode-schema:not(:empty) {
  padding: 12em/@fs;
  margin: 0;
}
// BACKGROUND IMAGE ACTIVITEITEN
article.buildmode-teaser,
article.buildmode-3 {
  .field-background {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    .field-items, .field-item {
      height: 100%;
    }
    .node-background {
      width: 100%;
      height: 100%;
      background-position: center 10%;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: @grey;
      .border-radius(@border-radius-large);
      &:after {
        content: ' ';
        position: relative;
        z-index: 1;
        display: block;
        width: 100%;
        height: 100%;
        background: @white;
        opacity: 0.75;
        .border-radius(@border-radius-large);
      }
    }
  }
}
// FIELD-AFBEELDINGEN
article.node-type-activiteit,
article.node-type-nieuws,
article.node-type-pagina,
article.node-type-repertoire {
  .field-afbeeldingen .field-items {
    display: grid;
    column-gap: 4em/@fs;
    row-gap: 4em/@fs;
    grid-template-columns: repeat(3, calc(~"33% - " 4em/@fs));
    @media @phone-ls {
      float: right;
      width: 50%;
      box-sizing: border-box;
    }
    @media @tablet {
      width: 35%;
    }
    .field-item {
      aspect-ratio: 1 ~"/" 1;
    }
    .field-item:first-child {
      grid-column-start: 1;
      grid-column-end: 5;
      aspect-ratio: auto;
    }
    a, img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center top;
    }
  }
}
article.node-type-foto.buildmode-teaser .field-afbeeldingen .field-item {
  display: none;
  &:first-child {
    display: block;
  }
}
article.node-type-activiteit .field-afbeeldingen .field-items {
  width: 100%;
  max-width: 100%;
  margin: 0;
  .field-item {
    max-width: 100%;
    @media @phone-ls { 
      a, img {
        max-height: 330em/@fs;
        width: auto;
      }
      a {
        height: auto;
        float: right;
      }
      img {
        object-fit: contain;
        object-position: right top;
      }
    }
  }
}
article.node-type-repertoire .field-afbeeldingen .field-items {
  width: 100%;
  max-width: 100%;
  margin: 0;
}
article .field-afbeeldingen .field-item {
  a {
    display: inline-block;
  }
  img {
    max-height: 100%;
    max-width: 100%;
  	width: auto;
    height: auto;
    object-fit: contain;
    object-position: right top;
    display: block;
    .border-radius();
  }
}
article.node-type-pagina .field-afbeeldingen .field-item,
article.node-type-activiteit .field-afbeeldingen .field-item,
article.node-type-nieuws .field-afbeeldingen .field-item {
  @media @phone-ls {
    a, img {
//      max-height: 330em/@fs;
    }
  }
}
article.node-type-nieuws .field-afbeeldingen .field-items,
article.node-type-pagina .field-afbeeldingen .field-items {
  @media @phone-ls { margin-left: 24em/@fs; }
  margin-bottom: 24em/@fs;
}
// TITLE ACTIVITEIT EN NIEUWS
article.node-type-nieuws,
article.node-type-activiteit {
  &.buildmode-full, &.buildmode-teaser {
    .field-title {
      @media @tablet {
        height: 150em/@fs;
        display: table-cell;
        vertical-align: bottom;
        overflow: hidden;
      }
    }
  }
}
article.node-type-nieuws {
  .field-author {
    margin-bottom: 24em/@fs;
  }
  .field em {
    font-style: normal;
  }
}
article.node-type-nieuws.buildmode-full,
article.node-type-video.buildmode-full,
article.node-type-audio.buildmode-full,
article.node-type-profiel.buildmode-full,
article.node-type-foto.buildmode-full,
article.node-type-repertoire.buildmode-full {
  .field-node-type {
    margin-bottom: 48em/@fs;
  }
}
// ACCESS BADGES
.badge-access, .badge-access-wrapper { display: none; }
.role-bestuur, 
.role-beheer, 
.role-admin {
  .buildmode-teaser,
  .buildmode-full:not(:empty),
  .buildmode-schema {
    .badge-access-wrapper {
      font-size: 10em/@fs;
      line-height: 12em/10;
      display: block;
      position: absolute;
      bottom: 0;
      left: 24em/10;
      z-index: 5;
    }
    .badge-access {
      &.badge-access-bezoekers,
      &.badge-access-vrienden,
      &.badge-access-aspirant-leden,
      &.badge-access-leden,
      &.badge-access-bestuur,
      &.badge-access-muziekcommissie,
      &.badge-access-concertcommissie,
      &.badge-access-feestcommissie,
      &.badge-access-commissie-interne-relaties,
      &.badge-access-commissie-koorregie,
      &.badge-access-band,
      &.badge-access-beheer {
        display: inline-block;
        padding: 4em/10 8em/10;
        color: @white;
        text-align: center;
        .border-radius(@border-radius-small @border-radius-small 0 0);
      }
      &.badge-access-beheer,
      &.badge-access-bestuur { background: @red; }
      &.badge-access-concertcommissie,
      &.badge-access-feestcommissie,
      &.badge-access-commissie-interne_relaties,
      &.badge-access-commissie-koorregie,
      &.badge-access-muziekcommissie { background: @yellow; }
      &.badge-access-leden,
      &.badge-access-band,
      &.badge-access-aspirant-leden { background: @blue; }
      &.badge-access-vrienden,
      &.badge-access-bezoekers { background: @green; }
    }
  }
  .buildmode-schema {
    .badge-access-wrapper {
      left: 12em/10;
    }
  }
}
.nd-region-middle, .nd-region-right {
  position: relative;
  z-index: 2;
}

//HERO PAGE
.buildmode-full.node-hero.node-type-pagina {
  background: transparent;
  padding: 0;
  .field-afbeeldingen {
    display: none;
  }
  .cta-wrapper {
    padding: 24em/@fs;
    background: fade(@white, 80%);
	.border-radius();
  }
  .field-body {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 24em/@fs;
	row-gap: 24em/@fs;
  }
  @media @tablet {
    .field-body {
	  grid-template-columns: repeat(3, 1fr);
    }
  }
}
.node-hero #main > h1 {
  display: none;
}

//GRIDS FOR NODE-TYPE ACTIVITEIT
.node-type-activiteit {
  @media @phone-ls-max {
    &.buildmode-schema {
      display: grid;
      grid-template-rows: auto auto auto;
      row-gap: 12em/@fs;
      .nd-region-left { grid-row: 1; }
      .nd-region-middle-wrapper { grid-row: 2; }
      .nd-region-right { grid-row: 3; }
    }
  }
  @media @phone-ls {
    &.buildmode-full, &.buildmode-teaser, &.buildmode-schema {
      display: grid;
      grid-template-columns: 3fr 2fr;
      grid-template-rows: auto auto;
      grid-template-areas:
      "node-main node-right"
      "node-footer node-footer";
      column-gap: 24em/@fs;
    }
    &.buildmode-full {
      row-gap: 24em/@fs;
    }
    &.buildmode-schema {
      grid-template-columns: 350em/@fs 1fr 180em/@fs;
      grid-template-areas:
      "node-left node-main node-right";
      column-gap: 24em/@fs;
    }
    .nd-region-header { grid-area: node-main; }
    .nd-region-left { grid-area: node-left; }
    .nd-region-middle-wrapper { grid-area: node-main; }
    .nd-region-right { grid-area: node-right; }
    .nd-region-footer { grid-area: node-footer; }
  }
}
// FIELDS FOR ACTIVITEIT SCHEMA
.buildmode-schema.node-type-activiteit {
  &:not(.activiteit-repetitie) {
    h2 {
      a:link, a:visited { color: @red; }
      a:hover, a:active, a:focus { color: @primary; }
	  }
  }
  h2 {
    text-transform: uppercase;
    margin: 0;
    a:link, a:visited { color: @grey; }
    a:hover, a:active, a:focus { color: @primary; }
    vertical-align: middle;
    font-size: 18em/@fs;
    line-height: 36em/18;
    @media @tablet {
      font-size: 14em/@fs;
      line-height: 36em/@fs;
    }
  }
  .badge-koor-tijd {
    margin-right: 0;
  }
  .field-bijzonderheden, .field-kledingcode a {
    font-style: italic;
    margin-bottom: 12em/@fs;
  }
  .nd-region-left, .nd-region-right {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    gap: 0 4em/@fs;
    .field-datum, .field-locatie {
      flex-grow: 1;
    }
    .field-items, .field-item {
      width: 100%;
    }
  }
  &.node-status-optie {
    border: 3em/@fs dashed @red;
    padding: 9em/@fs 9em/@fs 21em/@fs;
    @media @tablet { padding: 9em/@fs; }
  }
}
.role-bestuur,
.role-beheer,
.role-admin {
  article.node-type-activiteit.buildmode-schema.node-status-optie {
    padding-bottom: 21em/@fs;
  }
}
// PROFIELEN
.buildmode-teaser&.node-type-profiel {
  font-size: 12em/@fs;
  line-height: 24em/12;
  text-align: center;
  .field-author-picture {
    width: 100%;
    aspect-ratio: 16 ~"/" 20;
    img {
      width: 80%;
      height: auto;
      aspect-ratio: 16 ~"/" 20;
    }
  }
  .field-voornaam, .field-achternaam, .field-achternaam-voorvoegsel {
    text-transform: uppercase;
  }
}
.buildmode-schema.node-type-profiel {
  display: grid;
  column-gap: 12em/@fs;
  row-gap: 12em/@fs;
  align-items: end;
  grid-template-columns: 90em/@fs auto;
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
  "node-header node-left"
  ". node-main"
  ". node-right"
  ". node-footer";
  @media @phone-ls {
    grid-template-columns: 90em/@fs 220em/@fs auto;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
    "node-header node-left node-main"
    ". . node-right"
    ". . node-footer";
  }
  @media @tablet {
    grid-template-columns: 90em/@fs 220em/@fs 1fr 1fr 110em/@fs;
    grid-template-rows: auto;
    grid-template-areas: "node-header node-left node-main node-right node-footer";
  }
  .nd-region-header { grid-area: node-header; }
  .nd-region-left { grid-area: node-left; }
  .nd-region-middle-wrapper { display: contents; }
  .nd-region-middle { grid-area: node-main; }
  .nd-region-right { grid-area: node-right; }
  .nd-region-footer { grid-area: node-footer; }
  .badge-access-wrapper { display: none; }
  &.clear-block:after { display: none; }
  .field-voornaam, .field-achternaam, .field-achternaam-voorvoegsel, .field-lidsinds {
    text-transform: uppercase;
  }
  .field-author-picture .picture {
    height: 108em/@fs;
  }
  .field-ds-group-adres {
    display: inline-block;
    line-height: 24em/@fs;
    padding-left: 24em/@fs;
    position: relative;
    &:before {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  .aspirant {
    color: @red;
  }
}
article.node-type-profiel.buildmode-full {
  .field-author-picture .picture {
    width: 280em/@fs;
    @media @tablet { 
      height: 216em/@fs;
      width: auto;
    }
    aspect-ratio: 16 ~"/" 20;
    img {
      height: 100%;
      width: auto;
    }
  }
}
article.node-type-profiel.buildmode-schema .field-author-picture .picture img {
  height: 100%;
  width: auto;
}
.profile .picture {
  float: none;
  margin: 0;
  @media @tablet { 
    float: right; 
    margin: 0 0 24em/@fs 24em/@fs;
  }
}
.profile h3 {
  border: 0;
}

// FOTO ALBUMS
.buildmode-full.node-type-foto {
  .field-afbeeldingen .field-items {
    display: grid;
    row-gap: 12em/@fs;
    column-gap: 12em/@fs;
    grid-template-columns: repeat(2, 1fr);
    @media @phone-ls { grid-template-columns: repeat(3, 1fr); }
    @media @tablet { grid-template-columns: repeat(4, 1fr); }
    @media @normal { grid-template-columns: repeat(5, 1fr); }
    @media @wide { grid-template-columns: repeat(6, 1fr); }
  }
}
// MEDIA
article.buildmode-teaser.node-type-foto .field-afbeeldingen a,
article.buildmode-teaser.node-type-foto .field-afbeeldingen img,
article.buildmode-teaser.node-type-audio .field-mp3 .jp-single-player,
article.buildmode-teaser.node-type-video .field-video .video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  .border-radius();
  overflow: hidden;
}
article.buildmode-teaser.node-type-foto .field-afbeeldingen,
article.buildmode-teaser.node-type-foto .field-afbeeldingen,
article.buildmode-teaser.node-type-audio .field-mp3,
article.buildmode-teaser.node-type-video .field-video {
  .field-item:first-child {
    aspect-ratio: 16 ~"/" 9;
    width: 100%;
    display: block;
    overflow: hidden;
  }
}
article.buildmode-teaser.node-type-foto,
article.buildmode-teaser.node-type-audio,
article.buildmode-teaser.node-type-video {
  padding: 12em/@fs;
  .field-group {
    display: flex;
    justify-content: flex-end;
    margin-top: 12em/@fs;
  }
  .badge-nodetype, .node-edit-link {
    .icon-only();
  }
  .field-title h2 {
    color: @red;
    text-transform: uppercase;
    font-size: 16em/@fs;
    line-height: 24em/16;
    margin-bottom: 0;
  }
}
.page-node .node-type-foto,
.page-node .node-type-video,
.page-node .node-type-audio {
  margin-top: 24em/@fs;
}
// NODE TYPE REPERTOIRE
article.node-type-repertoire,
article.node-type-programma.programma-nummer {
  &.buildmode-schema {
    display: grid;
    grid-template-columns: 32em/@fs 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
    "node-header node-left"
    "node-header node-main"
    "node-header node-right"
    "node-header node-footer";
    @media @tablet {
      grid-template-columns: 32em/@fs 3fr 1fr 1fr;
      grid-template-rows: auto auto;
      grid-template-areas: 
      "node-header node-left node-right node-footer"
      "node-header node-main node-right node-footer";
    }
    @media @normal {
      grid-template-columns: 32em/@fs 2fr 2fr 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas: "node-header node-left node-main node-right node-footer";
    }
    column-gap: 12em/@fs;
    .nd-region-header { grid-area: node-header; }
    .nd-region-left { grid-area: node-left; }
    .nd-region-middle-wrapper { grid-area: node-main; }
    .nd-region-right { grid-area: node-right; }
    .nd-region-footer { grid-area: node-footer; }
    .field-oefenmateriaal,
    .field-partij-koor-l,
    .field-partij-tekst,
    .field-partij-band {
      .button {
        width: 100%;
      }
    }
  }
  &.buildmode-teaser, &.buildmode-full {
    display: grid;
    @media @phone-ls {
      column-gap: 24em/@fs;
    }
  }
  &.buildmode-full {
    @media @phone-ls { grid-template-columns: 1fr 240em/@fs; }
  }
  &.buildmode-teaser {
    @media @phone-ls {
      grid-template-columns: 1fr 120em/@fs;
      grid-template-rows: 120em/@fs; 
    }
  }
  h2 {
    text-transform: uppercase;
    margin: 0;
    color: @red;
    a:link, a:visited { color: @red; }
    a:hover, a:active, a:focus { color: @primary; }
    vertical-align: middle;
    font-size: 14em/@fs;
    line-height: 36em/@fs;
  }
}
article.node-type-programma.programma-programma {
  h2 {
    text-transform: uppercase;
    margin: 0;
    color: @red;
  }
}
// NODE TYPE VERSLAG
article.node-type-verslag {
  &.buildmode-schema {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
    "node-left"
    "node-main"
    "node-right";
    @media @tablet {
      column-gap: 24em/@fs;
      grid-template-columns: 200em/@fs 2fr 1fr;
      grid-template-rows: auto;
      grid-template-areas: "node-left node-main node-right";
    }
    .nd-region-left { grid-area: node-left; }
    .nd-region-middle-wrapper { grid-area: node-main; }
    .nd-region-right { grid-area: node-right; }
    .nd-region-left {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      align-content: flex-start;
      gap: 0 4em/@fs;
      .field-datum, .field-locatie {
        flex-grow: 1;
      }
      .field-items, .field-item {
        width: 100%;
      }
    }
    h2 {
      text-transform: uppercase;
      margin: 0;
      color: @red;
      vertical-align: middle;
      font-size: 14em/@fs;
      line-height: 36em/@fs;
    }
    .field-files {
      .button {
        width: 100%;
      }
    }
  }
}
// EXTRA PADDING FOR ACCESS BADGES
.role-bestuur,
.role-beheer,
.role-admin {
  article.buildmode-full,
  article.buildmode-teaser,
  article.buildmode-schema {
    padding-bottom: 24em/@fs;
  }
}

.block-views {
  margin-top: 24em/@fs;
}
.field-inline, .field-inline div {
  display: inline-block;
  vertical-align: middle;
  .badge {
    margin-right: 0;
  }
}
.field .field-label-inline-first {
  display: inline-block;
  min-width: 160em/@fs; 
}
.field-inline .field-label-inline-first {
  display: inline;
}
.field-block {
  display: block;
}
.field {
  .field-label, .field-label-inline-first {
    font-weight: normal;
    color: @red;
    text-transform: uppercase;
  }
}

.admininfo, .messages {
  position: relative;
  z-index: 3;
}

.field-type-viewfield {
  clear: both;
}
.editablefields .description {
  display: none;
}
.editablefields .form-text {
  max-width: 100px;
  font-size: 10px;
}
.editablefields .form-select {
  max-width: 50px;
  font-size: 10px;
}