/**
 * Nodes and Comments
 */
 // RESETS FOR ND REGIONS
// RESETS FOR ND REGIONS
.nd-region-header, 
.nd-region-left, 
.nd-region-right, 
.nd-region-middle, 
.nd-region-middle-wrapper, 
.nd-region-footer, 
.nd-sidebar-right 
.nd-region-middle, 
.nd-two-sidebars .nd-region-middle, 
.nd-sidebar-left .nd-region-middle {
  float: none;
  display: block;
  margin: 0;
  clear: both;
  width: auto;
}
.buildmode-schema {
  .node:not(:empty) {
    position: relative;
    background: @white;
    .border-radius(@border-radius-large);
	box-sizing: border-box;
    padding: 10em/@fs;
    margin: 0 0 12em/@fs;
	border: 3em/@fs solid @white-off;
  }
}
.buildmode-full, .buildmode-teaser, .buildmode-schema {
  .node-type-activiteit, .node-type-repertoire {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "node-main node-right"
    "node-footer node-footer";
    column-gap: 24em/@fs;
  	row-gap: 24em/@fs;
    .nd-region-header {
      grid-area: node-main;
    }
    .nd-region-middle-wrapper {
      grid-area: node-main;
    }
    .nd-region-right {
      grid-area: node-right;
    }
	.nd-region-left {
      grid-area: node-left;
    }
    .nd-region-footer {
      grid-area: node-footer;
    }
  }
}
.buildmode-schema {
  .node-type-activiteit {
    display: grid;
	grid-template-columns: 350em/@fs 1fr 180em/@fs;
	grid-template-areas:
	"node-left node-main node-right";
	column-gap: 24em/@fs;
	row-gap: 0;
	&.node-status-optie {
	  border: 3em/@fs dashed @red;
	}
  }
}
.buildmode-full, .buildmode-teaser {
  > .node {
    > div { /* header region */
      > .field-background {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        z-index: 0;
        .node-background {
          width: 100%;
          height: 220em/@fs;
          background-position: center 10%;
          background-size: cover;
          background-repeat: no-repeat;
          background-color: @grey;
          .border-radius(@border-radius-large @border-radius-large 0 0);
          &:after {
            content: ' ';
            position: relative;
            z-index: 1;
            display: block;
            width: 100%;
            height: 220em/@fs;
            background: @white;
            opacity: 0.75;
            .border-radius(@border-radius-large @border-radius-large 0 0);
          }
        }
      }
	  > .field-afbeeldingen, > div > .field-afbeeldingen {
	    float: right;
	    > div > div {
	      height: 330em/@fs;
		  width: 100%;
          margin: 0;
          overflow: hidden;
          display: block;
          box-sizing: border-box;
          padding: 0;
          img {
		    height: 100%;
	        width: 100%;
            box-sizing: border-box;
		    object-fit: contain;
            object-position: top right;
			.border-radius(@border-radius-large);
          }
		}
      }
    }   
    > div > div { /* middle region */
      > .field-node-type {
        margin: 0 0 24em/@fs;
        display: block; // override badge inline-block
      }
      > .field-author, .field-post-date {
        font-weight: 200;
        em { font-style: normal; }
      }
      .field-box {
        box-sizing: border-box;
        background: @white;
        .border-radius();
        margin: 0 0 5em/@fs;
        padding: 4em/@fs 8em/@fs;
        .badge-date { text-align: left; }
        .badge-time { float: right; margin: 0; }
        .badge { margin: 0; } 
      }
      .field-left {
        clear: left;
      }
      .field-clear-block {
        height: 0;
      }
    }
    // Laat social buttons alleen zien op pagina's die openbaar zijn
    &.taxonomy-leden     > div > div > .field-read-more .button-social { display: none; }
    &.taxonomy-bezoekers > div > div > .field-read-more .button-social { display: inline-block; }
  }
  > .node-type-nieuws, > .node-type-pagina {
    > div > div > .field-afbeeldingen {
      width: 50%;
	}
  }
}
.buildmode-teaser {
  .node-type-nieuws, .node-type-activiteit {
    .field-title {
      height: 150em/@fs;
      display: table-cell;
      vertical-align: bottom;
      overflow: hidden;
    }
  }
}
.buildmode-teaser {
  > .node {
    position: relative;
    background: @white-off;
    padding: 24em/@fs;
	padding-bottom: 0;
    margin: 0 0 48em/@fs;
    .border-radius(@border-radius-large);
	
	&.node-type-profiel {
	  margin: 0;
	  padding: 24em/@fs;
	}

    > div { /* header region */
      > .field-background {
        .node-background {
          height: 378em/@fs;
          .border-radius(@border-radius-large);
          &:after {
            height: 378em/@fs;
            .border-radius(@border-radius-large);
          }
        }
      }
    }
    &.taxonomy-leden {
      background: @white;
      border: 2px solid @red;
      &:before {
       @media screen {
        z-index: 5;
        content: 'voor leden';
        position: absolute;
        right: 30em/@fs;
        top: 0;
        background: @red; 
        color: @white;
        text-align: center;
        width: 115em/@fs;
        line-height: 30em/@fs;
        .border-radius(0 0 @border-radius-small @border-radius-small);
       }
      }
    }
    &.taxonomy-bezoekers {
      background: @white-off;
      border: 0;
      &:before {
        content: '';
      }
    }
  }
}
.buildmode-full {
  > .node {
    > div > div { /* middle region */
      > .field-node-type {
        margin-top: 100em/@fs;
      }
      > .field-box {
        background: @white-off;
      }
    }
  }
}
.nd-region-middle, .nd-region-right {
  position: relative;
  z-index: 2;
}
.nd-sidebar-right .nd-region-middle {
  margin-right: 0;
}
.node.node-type-locatie > div > div {
  > .field-title p {
    margin: 0;
  }
  > .field-l-plaats {
    color: @red;
  }
}
.buildmode-teaser .node-type-profiel {
  font-size: 12em/@fs;
  line-height: 24em/12;
  text-align: center;
  .field-author-picture {
    width: 100%;
	img {
	  width: 80%;
	  height: auto;
	}
  }
  .field-voornaam, .field-achternaam, .field-achternaam-voorvoegsel {
    text-transform: uppercase;
  }
}
.front h1 {
  display: none;
}
.buildmode-full .node-type-foto > div {
  > .field-afbeeldingen, > div > .field-afbeeldingen {
    width: 100%;
    padding: 0;
  }
}
// FOTO ALBUMS
.buildmode-full .node.node-type-foto {
  .field-afbeeldingen .field-items {
    display: grid;
	row-gap: 12em/@fs;
	column-gap: 12em/@fs;
	grid-template-columns: repeat(2, 1fr);
	@media @phone-ls { grid-template-columns: repeat(3, 1fr); }
	@media @tablet { grid-template-columns: repeat(4, 1fr); }
	@media @normal { grid-template-columns: repeat(5, 1fr); }
	@media @wide { grid-template-columns: repeat(6, 1fr); }
  }
}
.buildmode-teaser .node.node-type-foto .field-afbeeldingen .field-item {
  display: none;
}
// MEDIA
.buildmode-teaser .node.node-type-foto .field-afbeeldingen a,
.buildmode-teaser .node.node-type-foto .field-afbeeldingen img,
.buildmode-teaser .node.node-type-audio .field-mp3 .jp-single-player,
.buildmode-teaser .node.node-type-video .field-video .video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  .border-radius();
  overflow: hidden;
}
.buildmode-teaser .node.node-type-foto .field-afbeeldingen,
.buildmode-teaser .node.node-type-foto .field-afbeeldingen,
.buildmode-teaser .node.node-type-audio .field-mp3,
.buildmode-teaser .node.node-type-video .field-video {
  .field-item:first-child {
    aspect-ratio: 16 ~"/" 9;
	width: 100%;
	height: auto;
	display: block;
	overflow: hidden;
  }
}
.buildmode-teaser .node.node-type-foto,
.buildmode-teaser .node.node-type-audio,
.buildmode-teaser .node.node-type-video {
  padding: 12em/@fs;
  margin: 0;
  .field-group {
    display: flex;
	justify-content: flex-end;
	margin-top: 12em/@fs;
  }
  .badge-nodetype, .node-edit-link, .file-download-link {
    .icon-only();
  }
  .field-title {
    height: auto;
  }
  .field-title h2 {
    color: @red;
	text-transform: uppercase;
	font-size: 16em/@fs;
	line-height: 24em/16;
	margin-bottom: 0;
  }
}
// NODE TYPE REPERTOIRE
.buildmode-schema .node.node-type-repertoire {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
    "node-header node-left"
    "node-header node-main"
    "node-header node-right"
    "node-header node-footer";
    @media @tablet {
      grid-template-columns: max-content 3fr 1fr 1fr;
      grid-template-rows: auto auto;
      grid-template-areas: 
      "node-header node-left node-right node-footer"
      "node-header node-main node-right node-footer";
    }
    @media @normal {
      grid-template-columns: max-content 2fr 2fr 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas: "node-header node-left node-main node-right node-footer";
    }
    column-gap: 12em/@fs;
    .nd-region-header { grid-area: node-header; }
    .nd-region-left { grid-area: node-left; }
    .nd-region-middle-wrapper { grid-area: node-main; }
    .nd-region-right { grid-area: node-right; }
    .nd-region-footer { grid-area: node-footer; }
    h2 {
      text-transform: uppercase;
      margin: 0;
      a:link, a:visited { color: @red; }
      a:hover, a:active, a:focus { color: @primary; }
      vertical-align: middle;
      font-size: 14em/@fs;
      line-height: 36em/@fs;
    }
}

.field-inline, .field-inline div {
  display: inline-block;
  vertical-align: middle;
  .badge {
    margin-right: 0;
  }
}
.field .field-label-inline-first {
  display: inline-block;
  min-width: 160em/@fs; 
}
.field-inline .field-label-inline-first {
  display: inline;
}
.field-block {
  display: block;
}
.field-margin-left {
  margin-left: 12em/@fs;
}
.field-margin-right {
  margin-right: 12em/@fs;
}
.field-group {
  clear: left;
}
.field .field-label,
.field .field-label-inline-first {
  font-weight: normal;
  color: @red;
  text-transform: uppercase;
}

.admininfo, .messages {
  position: relative;
  z-index: 3;
}

.field-type-viewfield {
  clear: both;
}
.editablefields .description {
  display: none;
}
.editablefields .form-text {
  max-width: 100px;
  font-size: 10px;
}
.editablefields .form-select {
  max-width: 50px;
  font-size: 10px;
}

/**
 * Autocomplete.
 */
#autocomplete li {
  cursor: default;
  padding: 2px;
  margin: 0;
}



/**
 * Syndication icons and block
 */
#block-node-0 h2 {
  float: left; /* LTR */
  padding-right: 20px; /* LTR */
}

#block-node-0 img, .feed-icon {
  float: right; /* LTR */
  padding-top: 4px;
}

#block-node-0 .content {
  clear: right; /* LTR */
}

/**
 * Login Block
 */
#user-login-form {
  text-align: center;
}
#user-login-form ul {
  text-align: left; /* LTR */
}

/**
 * User profiles.
 */
.profile {
  margin-top: 1.5em;
}
.profile h3 {
  border-bottom: 0;
  margin-bottom: 1em;
}
.profile dl {
  margin: 0;
}
.profile dt {
  font-weight: normal;
  color: @grey;
  font-size: 0.92em;
  line-height: 1.3em;
  margin-top: 1.4em;
  margin-bottom: 0.45em;
}
.profile dd {
  margin-bottom: 1.6em;
}



/**
 * dblog.module
 */
tr.dblog-user {
  background-color: #fcf9e5;
}

tr.dblog-user td.active {
  background-color: #fbf5cf;
}

tr.dblog-content {
  background-color: #fefefe;
}

tr.dblog-content td.active {
  background-color: #f5f5f5;
}

tr.dblog-warning {
  background-color: #fdf5e6;
}

tr.dblog-warning td.active {
  background-color: #fdf2de;
}

tr.dblog-error {
  background-color: #fbe4e4;
}

tr.dblog-error td.active {
  background-color: #fbdbdb;
}
tr.dblog-page-not-found, tr.dblog-access-denied {
  background: #d7ffd7;
}
tr.dblog-page-not-found td.active, tr.dblog-access-denied td.active {
  background: #c7eec7;
}