/**
 * Nodes and Comments
 */
.buildmode-full, .buildmode-teaser, .buildmode-compact {
  > .node {
    
    > div { /* header region */
      > .field-background {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        z-index: 0;
        .node-background {
          width: 100%;
          height: 220em/@fs;
          background-position: center 10%;
          background-size: cover;
          background-repeat: no-repeat;
          background-color: @grey;
          .border-radius(@border-radius-large @border-radius-large 0 0);
          &:after {
            content: ' ';
            position: relative;
            z-index: 1;
            display: block;
            width: 100%;
            height: 220em/@fs;
            background: @white;
            opacity: 0.75;
            .border-radius(@border-radius-large @border-radius-large 0 0);
          }
        }
      }
    }   
    > div > div { /* middle region */
      > .field-node-type {
        margin: 0 0 24em/@fs;
        display: block; // override badge inline-block
      }
      > .field-afbeeldingen {
        margin: 0;
        overflow: hidden;
        display: block; 
        float: right;
        width: 50%;
        box-sizing: border-box;
        padding: 0 0 0 24em/@fs;
        img {
          box-sizing: border-box;
          width: 100%;
          height: auto;
        }
        .image {
          height: 330em/@fs;
          background-size: contain;
          background-position: right top;
          background-repeat: no-repeat;
        }
      }
      > .field-author, .field-post-date {
        font-weight: 200;
        em { font-style: normal; }
      }
      > .field-locatie, .field-l-bijzonderheden {
        text-transform: uppercase;
        > .field-items {
          padding: 0 4em/@fs;
//          position: relative;
//          margin-right: 22em/@fs;
        }
      }
      .field-box {
        box-sizing: border-box;
        background: @white;
        .border-radius();
        margin: 0 0 5em/@fs;
        padding: 4em/@fs 8em/@fs;
        .badge-date { text-align: left; }
        .badge-time { float: right; margin: 0; }
        .badge { margin: 0; } 
      }
      .field-left {
        float: left;
        clear: left;
        width: 50%;
      }
      .field-clear-block {
        height: 0;
      }
    }
    // Laat social buttons alleen zien op pagina's die openbaar zijn
    &.taxonomy-Leden     > div > div > .field-read-more .button-social { display: none; }
    &.taxonomy-Bezoekers > div > div > .field-read-more .button-social { display: inline-block; }
  }
}
.buildmode-teaser, .buildmode-compact {
  > .node {
    position: relative;
    background: @white-off;
    padding: 24em/@fs;
    margin: 0 0 60em/@fs;
    .border-radius(@border-radius-large);

    > div { /* header region */
      > .field-background {
        .node-background {
          height: 434em/@fs;
          .border-radius(@border-radius-large);
          &:after {
            height: 434em/@fs;
            .border-radius(@border-radius-large);
          }
        }
      }
    }
    > div > div { /* middle region */
      > .field-title {
        height: 150em/@fs;
        display: block;
        overflow: hidden;
      }
    }
    &.taxonomy-Leden {
      background: @white;
      border: 2px solid @red;
      &:before {
       @media screen {
        z-index: 5;
        content: 'voor leden';
        position: absolute;
        right: 30em/@fs;
        top: 0;
        background: @red; 
        color: @white;
        text-align: center;
        width: 115em/@fs;
        line-height: 30em/@fs;
        .border-radius(0 0 @border-radius-small @border-radius-small);
       }
      }
    }
    &.taxonomy-Bezoekers {
      background: @white-off;
      border: 0;
      &:before {
        content: '';
      }
    }
  }
}
.buildmode-full {
  > .node {
    > div > div { /* middle region */
      > .field-node-type {
        margin-top: 100em/@fs;
      }
      > .field-box {
        background: @white-off;
      }
    }
  }
}
.nd-region-middle {
  position: relative;
  z-index: 2;
}
.node.node-type-locatie > div > div {
  > .field-title p {
    margin: 0;
  }
  > .field-l-plaats {
    color: @red;
  }
}
.front h1 {
  display: none;
}
.buildmode-full .node-type-foto > div > div {
  > .field-afbeeldingen {
    width: 100%;
    padding: 0;
  }
}
.field-inline, .field-inline div {
  display: inline-block;
  vertical-align: middle;
  .badge {
    margin-right: 0;
  }
}
.field .field-label-inline-first {
  display: inline-block;
  min-width: 160em/@fs; 
}
.field-inline .field-label-inline-first {
  display: inline;
}
.field-block {
  display: block;
}
.field-margin-left {
  margin-left: 12em/@fs;
}
.field-margin-right {
  margin-right: 12em/@fs;
}
.field-group {
  clear: left;
}
.field .field-label-inline-first {
  font-weight: normal;
  color: @red;
  text-transform: uppercase;
}

.admininfo, .messages {
  position: relative;
  z-index: 3;
}

.field-type-viewfield {
  clear: both;
}
.editablefields .description {
  display: none;
}
.editablefields .form-text {
  max-width: 100px;
  font-size: 10px;
}
.editablefields .form-select {
  max-width: 50px;
  font-size: 10px;
}

/**
 * Comments
 */

#comments {
  margin: 0;
  padding: 0;
}
.guestbook .picture, #comments .picture, .comment .submitted {
  float: right;
  clear: right;
  padding-left: 1em;
}
.guestbook .even .picture, #comments .even .picture {
  float: left;
  clear: left;
  padding-right: 1em;
  padding-left: 0;
}
#comments h2.comments {
  margin: 25px 0 0 0;
  padding: 0;
}
.comment {
  background: transparent url(../images/bg-comment.png) no-repeat 100% 90px;
}
.guestbook .even, #comments .even {
  background: transparent url(../images/bg-comment-l.png) no-repeat 0 90px;
}
.comment .content {
  margin: 0 80px 20px 0;
  background: #eee;
}
.guestbook .even .content, #comments .even .content {
  margin: 0 0 20px 80px;
}
.comment .commentbox {
  padding: 10px;
}
.comment .imagecache-ProfilePicture {
  width: 65px;
  height: auto;
}
.node .links, .comment .links {
  text-align: left; /* LTR */
}
.node .links, .comment .links {
  clear: both;
  display: block;
  height: 20px;
}

ul.links li, ul.inline li {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0; /* LTR */
  padding-right: 1em; /* LTR */
  background-image: none;
}
.node .links ul.links li {
  padding: 4px 1em 4px 20px;
}
.view-content .node ul.links {
  padding: 0;
  margin: 0;
}
.view-content .node ul.links li, .comment ul.links li {
  text-align: center;
  display: block;
  float: left;
  height: 20px;
  padding: 0 10px;
  margin: 0 0 0 10px;
  background: #eee;
}
.comment ul.links li {
  background: @white;
  position: relative;
  top: -5px;
}
.comment .submitted {
  float: none;
  clear: none;
  padding-left: 0;
  margin: 0 0 0 0;
}

/**
 * Aggregator.module
 */
#aggregator {
  margin-top: 1em;
}
#aggregator .feed-item-title {
  font-size: 160%;
  line-height: 130%;
}
#aggregator .feed-item {
  border-bottom: 1px solid #e9eff3;
  margin: -1.5em -31px 1.75em;
  padding: 1.5em 31px;
}
#aggregator .feed-item-categories {
  font-size: 0.92em;
}
#aggregator .feed-item-meta {
  font-size: 0.92em;
  color: @grey;
}

/**
 * Autocomplete.
 */
#autocomplete li {
  cursor: default;
  padding: 2px;
  margin: 0;
}

/**
 * Collapsible fieldsets
 */
fieldset {
  margin: 1em 0;
  padding: 1em;
  border: 1px solid @grey-light;
  .border-radius();
}
.buildmode-teaser fieldset {
  border-color: @white;
}

/* Targets IE 7. Fixes background image in field sets. */
*:first-child+html fieldset {
  padding: 0 1em 1em;
  background-position: 0 .75em;
  background-color: transparent;
}

*:first-child+html fieldset > .description, *:first-child+html fieldset .fieldset-wrapper .description {
  padding-top: 1em;
}

fieldset legend {
  /* Fix disappearing legend in FFox */
  display: block;
}

*:first-child+html fieldset legend, *:first-child+html fieldset.collapsed legend {
  display: inline;
}

html.js fieldset.collapsed {
  background: transparent;
  padding-top: 0;
  padding-bottom: .6em;
}

html.js fieldset.collapsible legend a {
  padding-left: 2em; /* LTR */
  background: url(../images/menu-expanded.png) no-repeat 0% 50%; /* LTR */
}

html.js fieldset.collapsed legend a {
  background: url(../images/menu-collapsed.png) no-repeat 0% 50%; /* LTR */
}

/**
 * Syndication icons and block
 */
#block-node-0 h2 {
  float: left; /* LTR */
  padding-right: 20px; /* LTR */
}

#block-node-0 img, .feed-icon {
  float: right; /* LTR */
  padding-top: 4px;
}

#block-node-0 .content {
  clear: right; /* LTR */
}

/**
 * Login Block
 */
#user-login-form {
  text-align: center;
}
#user-login-form ul {
  text-align: left; /* LTR */
}

/**
 * User profiles.
 */
.profile {
  margin-top: 1.5em;
}
.profile h3 {
  border-bottom: 0;
  margin-bottom: 1em;
}
.profile dl {
  margin: 0;
}
.profile dt {
  font-weight: normal;
  color: @grey;
  font-size: 0.92em;
  line-height: 1.3em;
  margin-top: 1.4em;
  margin-bottom: 0.45em;
}
.profile dd {
  margin-bottom: 1.6em;
}



/**
 * dblog.module
 */
tr.dblog-user {
  background-color: #fcf9e5;
}

tr.dblog-user td.active {
  background-color: #fbf5cf;
}

tr.dblog-content {
  background-color: #fefefe;
}

tr.dblog-content td.active {
  background-color: #f5f5f5;
}

tr.dblog-warning {
  background-color: #fdf5e6;
}

tr.dblog-warning td.active {
  background-color: #fdf2de;
}

tr.dblog-error {
  background-color: #fbe4e4;
}

tr.dblog-error td.active {
  background-color: #fbdbdb;
}
tr.dblog-page-not-found, tr.dblog-access-denied {
  background: #d7ffd7;
}
tr.dblog-page-not-found td.active, tr.dblog-access-denied td.active {
  background: #c7eec7;
}

/**
 * Status report colors.
 */
table.system-status-report tr.error, table.system-status-report tr.error th {
  background-color: #fcc;
  border-color: #ebb;
  color: #200;
}
table.system-status-report tr.warning, table.system-status-report tr.warning th {
  background-color: #ffd;
  border-color: #eeb;
}
table.system-status-report tr.ok, table.system-status-report tr.ok th {
  background-color: #dfd;
  border-color: #beb;
}