/**
 * COLOURS
 */

@purple:         rgb( 76,  50, 188);
@purple:         rgb( 80,  76, 169);
@orange:         rgb(235, 116,  21);
@pink:           rgb(167,  88,  99);
@green:          rgb(107, 181,  85);
@blue:           rgb( 30, 136, 182);
@red:            rgb(233,  88,  76);
@yellow:         rgb(230, 209,  25);

@black:          rgb(  0,   0,   0);
@grey-dark:      rgb( 50,  50,  49);
@grey:           rgb(135, 135, 134);
@grey-light:     rgb(215, 215, 214);
@grey-lightest:  rgb(230, 230, 229);
@white-off:      rgb(245, 245, 243);;
@white:          rgb(255, 255, 255);

@purple-light:   lighten(@purple, 30%);
@orange-light:   lighten(@orange, 20%);
@pink-light:     lighten(@pink,   20%);
@green-light:    lighten(@green,  20%);
@blue-light:     lighten(@blue,   20%);
@red-light:      lighten(@red,    20%);
@yellow-light:   lighten(@yellow, 30%);

@border-radius-large: 10px;
@border-radius-small: 5px;

@box-shadow-large: 0px 0px 10px @grey-dark;
@box-shadow-small: 0px 0px 3px @grey-dark;
@box-shadow-inset: inset 0 0 10px @black;

.transition-standard {
  .transition(border 0.4s, background-color 0.4s, color 0.6s);
}

.box-shadow(@shadow:  @box-shadow-large) {
  @media screen {
  -webkit-box-shadow: @shadow;
     -moz-box-shadow: @shadow;
          box-shadow: @shadow;
  }
}
.border-radius(@radius: @border-radius-small) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}
.transition (...) {
        @props: ~`"@{arguments}".replace(/[\[\]]/g, '')`;
  -webkit-transition: @props;  
     -moz-transition: @props;
      -ms-transition: @props; 
       -o-transition: @props;  
}