/**
 * Views
 */
 

/**
 * Archief blok
 */
 
.sidebar .tw-archief {
  font-size: 12em/@fs;
  line-height: 28em/12;
  ul.views-summary {
    padding: 0;
    margin: 0;
    li {
      box-sizing: border-box;
      float: left;
      margin: 2em/12 0 0;
      border-right-width: 2em/12;
      border-style: solid;
      border-color: @white-off;
      padding: 0;
      display: inline-block;
      color: @grey;
      text-align: center;
      .border-radius(@border-radius-small);
      background: @grey-light;
      width: 25%;
      @media @phone-ls { width: 12.5%; }
      @media @tablet { width: 50%; }
      a {
        color: @grey;
        &.active {
          color: @secondary;
        }
      }
      &:hover, &:active {
        color: @white;
        background: @secondary;
        a {
          color: @white;
        }
      }
    }
  }
}

/**
 * Ledenagenda
 */

.agenda-leden {
  @media @tablet {
    .views-field-field-datum-value {
      width: 172em/@fs;
    }
    .views-field-field-sleepgroep-value {
      width: 120em/@fs;
    }
    .views-field-field-keyboard-value {
      width: 60em/@fs;
    }
  }
  h4:not(.Repetitie) {
    a:link, a:visited {
      color: @secondary;
    }
    a:hover, a:active {
      color: @primary;
    }
  }
  .views-field-field-bijzonderheden-value {
    font-size: 12em/@fs;
    line-height: 30m/12;
    .icon(@fa-var-info-circle);
    &:before { 
      color: @red; 
    }
  }
  .views-field-field-locatie {
    font-size: 14em/@fs;
    line-height: 30m/14;
    text-transform: uppercase;
    .icon(@fa-var-map-marker);
    &:before { 
      color: @red; 
    }
  }
  .Repetitie .badge:not(.badge-date) {
    .desaturate();
    &.badge-date {
    }
  }
}