#wrapper {
  background: @white-off url(../images/xmas.png);
}
#logo {
  color: @white;
  #logo-title, #logo-slogan {
    text-shadow: 0 0 10px @grey-dark;
  }
  #logo-slogan {
    color: @white;
  }
}
.sidebar h2 {
  color: @white;
}
#container .sidebar {
  color: @white;
}
#sidebar-right {
  ul.menu li {
    a:link, a:visited {
      .box-shadow();
    }
  }
}
.sidebar a:link, .sidebar a:visited {
  color: @white;
  text-decoration: none;
}